@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron mainPage" style="width:1140px; height:760px; background-image:url('https://cdn.shopify.com/s/files/1/0048/5657/8136/files/adult-couple-elderly-modified-official.jpg?91');">
    <h1 class="masthead-main">Archangels</h1>
    <p class="lead">Are you a Caregiver?</p>
    <p><a href="https://we-are-archangels.squarespace.com/home-inside" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Shopping Page</h2>
        <p>
            Archangels Online Shopping gives you a powerful shopping tool to have your company's representatives log on and order matreials quick and easy. Archangels cart is integrated with EMS to track and process orders.  Arhangels shopping website
            enables users to have access to materials in a clean and easy to use environment with full control over orders and when they receive them.
        </p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301865">Shop Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Review your Cart</h2>
        <p>This dynamic shopping tool extension makes it easy to add, remove, and update your cart.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301866">Cart &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Checkout</h2>
        <p>You can easily fill out the form review and checkout.</p>
        <p><a class="btn btn-primary" href="http://go.microsoft.com/fwlink/?LinkId=301867">Checkout &raquo;</a></p>
    </div>
</div>
    -->